body {
	background-color: #5e97f2;
}

.title {
	font-family: 'Abel';
	color: white;
	text-align: center;
	font-size: 70;
}

.subtitle-box {

}

.subtitle {
	color: white;
	font-family: 'Abel';
	text-align: center;
	font-size: 40;
}