body {
	background-color: #5e97f2;
}

#page-title{

	text-align: center;

	width: 100%;

	padding: 2%;

	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 900;
	font-size: 8em;

}

#page-title-catchphrase{
	
	text-align: center;

	width: 100%;

	margin-top: -50px;

	padding: 2%;

	font-family: 'Source Sans Pro', sans-serif;

	color: white;

	font-weight: 200;

	font-size: 3.5em;

}

#picture-1{
	background-color: green;
}

.entry{
	color: white;

	font-size: 1.25em;

	font-family: 'Source Sans Pro', sans-serif;
}