body {
	background-color: #5e97f2;
}

.title {
	font-family: "Abel";
	color: white;
	text-align: center;
	font-size: 70;
}

.subtitle-box {

}

.subtitle {
	color: white;
	font-family: 'Abel';
	text-align: center;
	font-size: 40;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.subtitle:hover {
	font-size: 43;
}