body {
	background-color: #5E97F2;
}

.title {
	font-family: 'Abel';
	font-size: 51;
	color: white;
	text-align: center;
}

.subtitle {
	color: white;
	font-family: 'Abel';
	text-align: center;
	font-size: 40;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.subtitle:hover {
	font-size: 43;
}

.form-label {
	display: inline-block;
	width: 100%;
	font-family: 'Abel';
	font-size: 36;
	color: white;
}

.small-form-label {
	display: inline-block;
	width: 100%;
	font-family: 'Abel';
	font-size: 24;
	color: white;
}
}

.button-center {
	font-family: 'Abel';
	margin-top: 10px;
	top: 50%;
}

.edit-stage {
	background-color: #4487F2;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10 10 10 10;
	border-radius: 20px;
	border: 2px solid white;
}

.stage-form {
	background-color: white;
}

.button-style {
	display: inline-block;
	font-family: 'Abel';
	margin-bottom: 10px;
	right: 10px;
	top: 50%;
	float: right;
}